.Notifications {
    padding: 1rem;
    border: 1px dotted rgb(212, 37, 37);
}

.Notifications ul .NotificationItem[type='default'] {
    color: blue;
}

.Notifications ul .NotificationItem[type='urgent'] {
    color: red;
}

.menuItem .right {
    float: right;
    padding: 0 1rem;
}