.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

.App-logo {
  height: 35vh;
}
.App-header {
  display: flex;
  border-bottom: 2px solid rgb(212, 37, 37);
}